form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: start;
}

input {
  width: calc(100% - 20px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 15px; /* Increased padding */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: start;
  font-size: 16px;
}

p {
  /* color: red; */
  font-size: 14px;
  margin-top: 8px;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 20px;
}
